.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    /* background-color: white; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-btn {
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  