/* === NavBar Styles === */
.nav-container {
    width: 100%;
    background-color: #589091;
}

.custom-navbar {
    background-color: rgba(211, 211, 210, 0.5); /* 50% opacity */
}

.custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

/* === End NavBar Styles === */

