.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.nav-container {
    flex: 0;
    position: relative;  /* Add relative positioning to ensure z-index takes effect */
}

.participant-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center; /* Centers the content vertically */
}

.actions-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
    width: 80%;
    align-items: center;
}

.action-btn {
    font-size: 1.5em;
    padding: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #00a2a2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.action-btn:hover {
    background-color: #007878;
}

.badges-container {
    position: absolute;
    bottom: 0;
    top: 9rem;
    right: 3rem;
    width: 14%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* border: 3px solid #FF69B4; */
  
}

.badge-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.badge-item::before {
    /* content: ""; */
    display: block;
    padding-top: 80%;
}

.badge-item img {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.badge-item label { 
    text-align: center;
    font-weight: bold;
    color: #333;
}
