.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the container takes full viewport height */
    position: relative; /* Add this line */
}

.nav-container {
    flex: 0; /* Do not grow or shrink; keep space only for its content */
    /* Assuming your navbar has a specific height, you can use it to push the badges-container down. 
    If the navbar doesn't have a fixed height, you can adjust the 'top' value of the badges-container accordingly. */
}

.participant-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Allow this container to grow and take available space */
}

.actions-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
    width: 80%;
    align-items: center;
}

.action-btn {
    font-size: 1.5em;
    padding: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #00a2a2;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.action-btn:hover {
    background-color: #007878;
}

.badges-container {
    position: absolute;
    top: 0; /* Adjust this value if your navbar has a height other than 0 */
    right: 3rem;
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 10%; /* Increase gap for vertical spacing between badges */
    align-items: center;
    height: 70%; /* Utilize 70% of the screen height for badges */
    justify-content: space-between; /* Evenly space out badges */
}

.badge-item {
    position: relative;
    width: 140px; /* This defines the size */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.badge-item::before {
    content: "";
    display: block;
    padding-top: 100%; /* Maintain square aspect ratio */
}

.badge-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.badge-item label { 
    text-align: center;
    font-weight: bold;
    color: #333;
}
